<!DOCTYPE html>
<html>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<head>
    <title>demo导航页面</title>
</head>
<body>
<table>
    <h3>demo版本1.4.7收银台模式</h3>

    <h3>mgs接口导航</h3>
    <thead>
    <tr>
        <th><a href="create_activate_member.php">创建激活会员<br/>(create_activate_member)</a></th>
        <th><a href="set_real_name.php">设置实名信息<br/>(set_real_name)</a></th>
        <th><a href="binding_verify.php">绑定认证信息<br/>(binding_verify)</a></th>
        <th><a href="unbinding_verify.php">解绑认证信息<br/>(unbinding_verify)</a></th>
        <th><a href="query_verify.php">查询认证信息<br/>(query_verify)</a></th>
    </tr>
    <tr>
        <th><a href="binding_bank_card_advance.php">绑定银行卡推进<br/>(binding_bank_card_advance)</a></th>
        <th><a href="unbinding_bank_card.php">解绑银行卡<br/>(unbinding_bank_card)</a></th>
        <th><a href="query_bank_card.php">查询银行卡<br/>(query_bank_card)</a></th>
        <th><a href="query_balance.php">查询余额/基金份额<br/>(query_balance)</a></th>
        <th><a href="query_account_details.php">查询收支明细<br/>(query_account_details)</a></th>

    </tr>
    <tr>
        <th><a href="balance_freeze.php">冻结余额<br/>(balance_freeze)</a></th>
        <th><a href="balance_unfreeze.php">解冻余额<br/>(balance_unfreeze)</a></th>
        <th><a href="audit_member_infos.php">请求企业会员资质审核<br/>(audit_member_infos)</a></th>
        <th><a href="query_member_infos.php">查询企业会员信息<br/>(query_member_infos)</a></th>
        <th><a href="query_audit_result.php">查询企业会员审核结果<br/>(query_audit_result)</a></th>

    </tr>
    <tr>
        <th><a href="show_member_infos_sina.php">sina页面展示用户信息<br/>(show_member_infos_sina)</a></th>
        <th><a href="query_middle_account.php">查询中间账户余额<br/>(query_middle_account)</a></th>
        <th><a href="unbinding_bank_card_advance.php">解绑银行卡推进接口<br/>(unbinding_bank_card_advance)</a></th>
        <th><a href="query_ctrl_result.php">查询冻结解冻结果<br/>(query_ctrl_result)</a></th>
        <th><a href="all_pay_password.php">设置支付密码重定向<br/>(set_pay_password)</a></th>
    </tr>
    <tr>
        <th><a href="all_pay_password.php">修改支付密码重定向<br/>(modify_pay_password)</a></th>
        <th><a href="all_pay_password.php">找回支付密码重定向<br/>(find_pay_password)</a></th>
        <th><a href="query_is_set_pay_password.php">查询是否设置支付密码<br/>(query_is_set_pay_password)</a></th>
        <th><a href="query_fund_agent_buy.php">查询经办人<br/>(query_fund_agent_buy)</a></th>
        <th><a href="all_verify_mobile.php">修改认证手机号/找回认证手机号<br/>(modify_verify_mobile/find_verify_mobile)</a></th>
    </tr>
    <tr>
        <th><a href="web_binding_bank_card.php">查看我的银行卡<br/>(web_binding_bank_card)</a></th>
        <th><a href="binding_bank_card.php">绑定银行卡<br/>(binding_bank_card)</a></th>
        <th><a href="smt_fund_agent_buy.php">经办人信息<br/>(smt_fund_agent_buy)</a></th>
    </tr>
    </thead>
</table>
<table>
    <h3>mas接口导航</h3>
    <tr>
        <th><a href="create_hosting_collect_trade.php">创建托管代收交易<br/>(create_hosting_collect_trade)</a></th>
        <th><a href="create_single_hosting_pay_trade.php">创建托管代付交易<br/>(create_single_hosting_pay_trade)</a></th>
        <th><a href="create_batch_hosting_pay_trade.php">创建批量托管代付交易<br/>(create_batch_hosting_pay_trade)</a></th>
        <th><a href="pay_hosting_trade.php">托管交易支付<br/>(pay_hosting_trade)</a></th>


    </tr>
    <tr>
        <th><a href="query_pay_result.php">支付结果查询<br/>(query_pay_result)</a></th>
        <th><a href="query_hosting_trade.php">托管交易查询<br/>(query_hosting_trade)</a></th>
        <th><a href="query_hosting_batch_trade.php">托管交易批次查询<br/>(query_hosting_batch_trade)</a></th>
        <th><a href="create_hosting_refund.php">托管交易退款<br/>(create_hosting_refund)</a></th>


    </tr>
    <tr>
        <th><a href="query_hosting_refund.php">托管退款查询<br/>(query_hosting_refund)</a></th>
        <th><a href="create_hosting_deposit.php">托管充值<br/>(create_hosting_deposit)</a></th>
        <th><a href="query_hosting_deposit.php">托管充值查询<br/>(query_hosting_deposit)</a></th>
        <th><a href="create_hosting_withdraw.php">托管提现<br/>(create_hosting_withdraw)</a></th>


    </tr>
    <tr>
        <th><a href="query_hosting_withdraw.php">托管提现查询<br/>(query_hosting_withdraw)</a></th>
        <th><a href="create_hosting_transfer.php">转账接口<br/>(create_hosting_transfer)</a></th>
        <th><a href="advance_hosting_pay.php">支付推进<br/>(advance_hosting_pay)</a></th>
    </tr>
    <tr>
        <th><a href="create_single_hosting_pay_to_card_trade.php">创建单笔代付到提现卡<br/>(create_single_hosting_pay_to_card_trade)</a>
        </th>
        <th><a href="create_batch_hosting_pay_to_card_trade.php">创建批量代付到提现卡<br/>(create_batch_hosting_pay_to_card_trade)</a>
        </th>
        <th><a href="create_hosting_collect_trade.php">代收冻结<br/>(create_hosting_collect_trade)</a></th>
        <th><a href="finish_pre_auth_trade.php">代收完成<br/>(finish_pre_auth_trade)</a></th>

    </tr>
    <tr>
        <th><a href="cancel_pre_auth_trade.php">代收撤销<br/>(cancel_pre_auth_trade)</a></th>
        <th><a href="query_fund_yield.php">年华收益率查询<br/>(query_fund_yield)</a></th>
        <th><a href="query_bid_info.php">查询标的信息<br/>(query_bid_info)</a></th>
        <th><a href="create_bid_info.php">标的录入(新)<br/>(create_bid_info)</a></th>
    </tr>
</table>
</body>
</html>